# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle code-crumbs'
      'command': 'code-crumbs:toggle'
    }
  ],
  '.code-crumbs .crumb': [
    {'label': 'Remove','command': 'code-crumbs:remove'},
    {'label': 'Annotate', 'command': 'code-crumbs:annotate'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'code-crumbs'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'code-crumbs:toggle'
        }
      ]
    ]
  }
]
